<html>
    <%- include('./partials/head') %> 
    <%- include('./partials/common_styling')%>

    <!-- other styling -->
    <style>
        .card{
            font-size: small;
        }
    </style>

    <body>
        <%- include('./partials/navbar') %>

        <!-- card containers -->
        <div class = 'container'>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100 mt-4">
                      <img src="..." class="card-img-top" style='min-height: 20vh;min-width: 20vh;'alt="...">
                      <div class="card-body">
                        <h5 class="card-title placeName">Card title</h5>
                        <p class="card-text ratings"></p>
                        <p class="card-text price"></p>
                        <p class="card-text comments">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 mt-4">
                      <img src="..." class="card-img-top" style='min-height: 20vh;'alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 mt-4">
                      <img src="..." class="card-img-top" style='min-height: 20vh;'alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 mt-4">
                      <img src="..." class="card-img-top" style='min-height: 20vh;'alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                </div>

                


                


            </div>
        </div>
    </body>
</html>