<html>
    <%- include('./partials/head') %> 
    <%- include('./partials/common_styling')%>

    <!-- other styling -->
    <style>
        
    </style>

    <body>
        <%- include('./partials/navbar') %>

    </body>
</html>