<html>
    <head>

        <style>
            <%- include('./partials/mapbox') %>
            body { margin: 0; padding: 0; }
            #map { position: absolute; top: 0; bottom: 0; width: 100%; }
        </style>
        
    </head>
    <body>
        <div id ='filters'>
        <div id='map' style='width: 400px; height: 300px;'></div>
        <script>
            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %> ;
            const map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/lingy93/ckne1ifkw2r8y17qj11k2pg5h', // style URL
                center: [103.820, 1.340], // starting position [lng, lat] note that mapbox studio shows [lat,lng]
                zoom: 9.33 // starting zoom
            });
        </script>
    </body>
    
</html>