<!-- horizontal card -->
                <div class="col">
                    <div class="card mt-3" style="max-width: 540px;">

                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class = 'row text-end' style= 'min-width: 100%;'>
                    <form action="/eats/<%=singleEat.slug%>?_method=PATCH" method="POST">
    
                        <div class = 'mb-3'>
                                <button type="submit" class="btn btn-dark"><i class="fas fa-times"></i></button>
                        </div>
                    </form>
                </div>



                //<div class="col-md-6">
                    <% if (eats[i].image !== undefined && eats[i].image !== '') { %>
                        <img src="<%=eats[i].image%>" alt="..." style= 'height: 40vh; width: 14vw;object-fit:cover'>
                    <% }else { %>
                        <img src="https://res.cloudinary.com/dct3wrzog/image/upload/v1623327776/eatwat/unknown4_lky43f.jpg" alt="..." style= 'height: 40vh; width: 14vw;object-fit:cover'>
                    <% } %>                            
            </div>