<html>
    <head>
        <%- include('../partials/generic_head') %>

        <style>
            <%- include('../partials/common_styling')%>
            label{
                text-transform: capitalize
            }
            .btn{
                background:#A3DCD4;
                color: black;
                border:none
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container d-flex flex-column justify-content-center align-items-center' style = 'height: 80vh'>
            <form action="/users/forgetpassword" method="POST">
                <div class="row g-3 align-items-center justify-content-between mb-3">
                    <div class="col-auto">
                        <label for="email" class="col-form-label">email</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" id="item" class="form-control" name ='email'>
                    </div>
                </div>

                <div class = 'text-end' >
                    <button type="submit" class="btn btn-dark" style='border-radius:0; margin-right:15%'>SEND RESET EMAIL</button>                
                </div>
 
            </form>         
        </div>

    
    </body>
</html>