<html>
    <head>
        <%- include('../partials/generic_head') %>

        <style>
            <%- include('../partials/common_styling')%>
            label{
                text-transform: capitalize
            }
            #login{
                color: #A3DCD4;
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container d-flex flex-column justify-content-center align-items-center' style = 'height: 80vh'>
            <form action="/users/login" method="POST">
                <div class="row g-3 align-items-center justify-content-between mb-3">
                    <div class="col-auto">
                        <label for="mrt" class="col-form-label">user</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="item" class="form-control" name ='user'>
                    </div>
                </div>

                <div class="row g-3 align-items-center justify-content-between mb-3">
                    <div class="col-auto">
                        <label for="mrt" class="col-form-label">password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password" id="item" class="form-control" name ='password'>
                    </div>
                </div>

                <div class = 'text-end' >
                    <button type="submit" class="btn btn-dark" style='border-radius:0'>LOG IN</button>                
                </div>
                <div class = 'text-end text-end mb-3' style = 'margin-right:3%'>
                    <a  href='/users/signup' style='border-radius:0; font-size:80%' >SIGN UP?</a>
                </div>

                
 
            </form>         
        </div>

    
    </body>
</html>