@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


/* General game styling */
body{
	height: 100vh;
	background-color:#634025;
}
.container {
	position: relative;
}
#game-background {
    background-color:#e2cab8;
}

#item-slots{
	/* background-color: #C79D83; */
	margin: 0% 0% 0% 0%;
    background-color:#e2cab8;
	padding: 1%;
}
.slot{
    background-color: white;
    width: 5vw;
    height: 5vw;
    margin: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.slot > img{
	width: 5vw;
	height: auto;
}

#Tent:hover path {
	filter:url(#sofGlow) 
}
#Bag:hover path, #Bag:hover polygon {
	filter:url(#sofGlow) 
}
#Boulder:hover path {
	filter:url(#sofGlow) 
}

/* modal styling */
h2, h5, .btn, p {
	font-family: 'Dosis', sans-serif;
}
.modal-backdrop { 
	background-color: white;
}
.modal-content{
    background: radial-gradient(circle, rgba(255,255,255,1) 47%, rgba(255,255,255,0.6815913865546219) 97%, rgba(254,254,254,0.37907037815126055) 100%);
	border: none;
}
.instruction {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* settings for cards */
.card-row{
    margin: 1px;
}
.card{
    justify-content: center;
    align-items: center;
	border: none;
}

.disabled{
    pointer-events: none;
}

.open{
    background-color: #ffe3ac;
    transform: rotateY(0);
    animation-name: flipInY;
	-webkit-backface-visibility: visible;
	backface-visibility: visible ;
	animation-duration: .75s;
	color: #B8926A;
}

.close{
    background-color: #B8926A;
	opacity: 70%;
}

@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

/* match interaction */

#matchInteraction {
	position: absolute;
	left: 30%;
	top:80%;
	transform: translate(-50%,-50%);
	width:5vw;
}
#matchInteraction > img{
	width: 100%;
	display: none
}
#match{
	transform: scale(1);
	animation: pulse 2s infinite;
	filter: drop-shadow(0px 0px 12px white)
}


/* appleInteraction styling */
#appleInteraction {
	position: absolute;
	left: 70%;
	top:70%;
	transform: translate(-50%,-50%);
	width: 6vw;
}
#appleInteraction > img {
	width: 100%;
	display: none;
}
#apple{
	transform: scale(1);
	animation: pulse 2s infinite;
	filter: drop-shadow(0px 0px 12px white)
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		filter: drop-shadow(0px 0px 12px white)
	}

	70% {
		transform: scale(1);
		filter: drop-shadow(0px 0px 0px white)
	}

	100% {
		transform: scale(0.95);
		filter: drop-shadow(0px 0px 12px white)
	}
}

/* campfire interaction */

#campfireInteraction { 
	position: absolute;
	left: 51%;
	top:77%;
	transform: translate(-50%,-50%);
	width: 13vw;
	height: 13vh;
}
#Fire{
	animation: glowOpp 6s infinite step-end;
}
#Fire_glow{
	animation: glow 6s infinite step-end;
}
#clue2{
	position: absolute;
	left: 52%;
	top:69%;
	transform: translate(-50%,-50%);
	width: 8vw;
	height: 8vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: glow 6s infinite step-end;
	display: none;
}
@keyframes glow {
    0%    { opacity: 0;   }
    20%    { opacity: 1; }
    40%    { opacity: 0;   }
    60%    { opacity: 1; }
    80%    { opacity: 0;   }
    100%  { opacity: 1;   }
}
@keyframes glowOpp {
    0%    { opacity: 1;   }
    20%    { opacity: 0; }
    40%    { opacity: 1;   }
    60%    { opacity: 0; }
    80%    { opacity: 1;   }
    100%  { opacity: 0;   }
}

/* Maze game styling */

.game-container {
	margin: 0px auto;
}

#map-and-controls {
	display: flex;
	justify-content: center;
}
.game-map {
	position: relative;
	margin: 0px auto;
	height: 80vh
}

.default .floor {
	background-color: lightgrey;
  }
.default .wall {
	background-color: #B8926A;
}
#player > span {
	text-align: center;
	width: 100%;
}
#goal {
	height: 100%;
	transition: left 0.2s linear, top 0.2s linear;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#goal > span {
	text-align: center;
	width: 100%;
}
.tile{
	height: 4vh;
	width: 4vh;
	padding:0;
	margin: 0;
	flex:none;
}
#tiles{
	height: 80vh;
}
#tiles .row{
	align-items: center;
	justify-content: center;
	height: 4vh;
	--bs-gutter-x:0;
}
#mazeBtnContainer {
	justify-content: center;
	align-items: center;
}

/* Tunnel animation upon completion */
#Tunnel{
	pointer-events: none;
	animation: none ;
}

@keyframes keyStepGlow {
	0% {
		filter:url(#sofGlow) 
	}

	70% {
		filter:url(#sofGlow) 
	}

	100% {
		filter:url(#sofGlow) 
	}
}