<html>
    <head>
        <%- include('../partials/generic_head') %> 

        <style>
            <%- include('../partials/common_styling')%>
            .btn{
                margin: 4% 2%;
                border-radius: 0;
                background:#A3DCD4;
                color: black;
                border-color: white;
                padding: 4%;
            }
            .add{
                background:white
            }
            #dashboard{
                color: #A3DCD4;
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container d-flex flex-column justify-content-center align-items-center' style = 'height: 80vh'>
            <div class = 'row justify-content-center align-items-center'style= 'width:60%' >
                <div class = 'col-8'>
                <a href="/dashboard/category" class="btn btn-dark"style='width:100%'>CATEGORY</a>
                </div>
                <div class = 'col-1'>
                <a  href='/dashboard/category/new' type="btn" class="add btn btn-dark" style='border-radius:0; width:100%;' ><i class="fas fa-plus" style='font-size: 140%'></i></a>
                </div>
            </div>
            <div class = 'row justify-content-center align-items-center'style= 'width:60%' >
                <div class = 'col-8'>
                <a href="/dashboard/mrt" class="btn btn-dark"style='width:100%'>MRT</a>
                </div>
                <div class = 'col-1'>
                <a  href='/dashboard/mrt/new' type="btn" class="add btn btn-dark " style='border-radius:0; width:100%' ><i class="fas fa-plus" style='font-size: 140%'></i></a>
                </div>
            </div>
            <div class = 'row justify-content-center align-items-center'style= 'width:60%' >
                <div class = 'col-8'>
                <a href="/dashboard/price" class="btn btn-dark"style='width:100%'>PRICE</a>
                </div>
                <div class = 'col-1'>
                <a  href='/dashboard/price/new' type="btn" class="add btn btn-dark" style='border-radius:0; width:100%' ><i class="fas fa-plus" style='font-size: 140%'></i></a>
                </div>
            </div>
  
            <div class = 'row justify-content-center align-items-center'style= 'width:60%' >
                <div class = 'col-8'>
                <a href="/dashboard/ratings" class="btn btn-dark"style='width:100%'>RATINGS</a>
                </div>
                <div class = 'col-1'>
                <a  href='/dashboard/ratings/new' type="btn" class="add btn btn-dark" style='border-radius:0; width:100%' ><i class="fas fa-plus" style='font-size: 140%'></i></a>
                </div>
            </div>
 
        </div>
        
    </body>
</html>