<html>
    <head>
        <!-- mapbox map -->
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
        <!-- mapbox geocoder -->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
        <%- include('../partials/generic_head') %> 
        
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
            body{
                font-family: 'Open Sans', sans-serif;  
            }
            .geocoder {
                position: relative;
                z-index: 1;
                width: 50%;
                left: 50%;
                margin-left: -25%;
            }
            .mapboxgl-ctrl-geocoder {
                min-width: 100%;
            }
            .tags,.btn { 
                background-color: black;
                color: white;
                border-radius: 0;
            }
            select{
                text-align-last: center;
            }
            #ratings {
                font-family: 'Font Awesome 5 Free', 'Open Sans';
            }
            
        </style>
    </head>
    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container'>
        <div id="geocoder" class="geocoder row mt-3"></div>

        <div class = 'row mt-3 justify-content-center align-items-center'>
            <div class = 'col-6'>
                <form action="/eats" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="placeNameAndAddress" name = 'placeNameAndAddress' >
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="coordinates" name = 'coordinates' >
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" autocomplete = 'on' list="mrtStations" id="mrt" name = 'mrt' placeholder="nearest MRT" >
                        <datalist id="mrtStations">
                            <% mrtStations.forEach(station => { %>
                                <option value= '<%=station%>' >
                            <%}); %>
                        </datalist>
                    </div>

                    <div class = 'mb-3 row justify-content-center align-items-center'>
                        <div class = 'col-4'>
                            <select class="form-control tags" id = 'ratings' name = 'ratings'>
                                <option selected>RATINGS</option>
                                <option class = 'rating' value="1">&#xf005;1</option>
                                <option value="2">&#xf005;&#xf005;2</option>
                                <option value="3">&#xf005;&#xf005;&#xf005;3</option>
                                <option value="4">&#xf005;&#xf005;&#xf005;&#xf005;4</option>
                                <option value="5">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;5</option>
                            </select>
                        </div>

                        <div class = 'col-4'>
                            <select class="form-control tags" name = 'price'>
                                <option selected>PRICE</option>
                                <option value="1">$</option>
                                <option value="2">$$</option>
                                <option value="3">$$$</option>
                                <option value="4">$$$$</option>
                                <option value="5">$$$$$</option>
                            </select>
                        </div>

                        <div class = 'col-4'>
                            <select class="form-control tags" name ='tags'>
                                <option selected>CATEGORY</option>
                                <option value="Cafe">CAFE</option>
                                <option value="Chinese">CHINESE</option>
                                <option value="Dessert">DESSERT</option>
                                <option value="English">ENGLISH</option>
                                <option value="Fast food">FAST FOOD</option>
                                <option value="French">FRENCH</option>
                                <option value="Halal">HALAL</option>
                                <option value="Italian">ITALIAN</option>
                                <option value="Japanese">JAPANESE</option>
                                <option value="Mexican">MEXICAN</option>
                                <option value="Spanish">SPANISH</option>
                                <option value="Thai">THAI</option>
                                <option value="Vietnamese">VIETNAMESE</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" id="comments" rows="3" name='comments' placeholder="Comments"></textarea>
                    </div>

                    <div class = 'mb-3 text-center'>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <script>
            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %>

            var geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                countries: 'sg',
            });
            
            document.getElementById('geocoder').appendChild(geocoder.onAdd());

            // retrieve geocode results
                geocoder.on('result', function({ result }) { 
                document.getElementById('coordinates').value = result.geometry.coordinates;
                document.getElementById('placeNameAndAddress').value = result.place_name;
                // centre or geometry coordinates?
                console.log(typeof document.getElementById('coordinates').value)
                console.log(result)
            })
            
        </script>
    </body>
</html>