@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
#Earth {
    fill: burlywood ;
}
#Fire:hover {
    fill: rgb(241, 138, 119);
    animation: none;
}
#background {
    background-color: #daeded;
}
#Fire {
    animation: flicker 6s infinite step-end;
}
h1{
    font-family: 'Dosis', sans-serif;
}

@keyframes flicker {
    0%    { opacity: 1;   }
    3%    { opacity: 0.4; }
    9%    { opacity: 1;   }
    10%    { opacity: 0.4; }
    13%    { opacity: 1;   }
    19%    { opacity: 0.4; }
    25%   { opacity: 1;   }
    100%  { opacity: 1;   }
  }