<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    
      <a class="navbar-brand" href="#">EATWAT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

        <ul class="navbar-nav">
        <% if (user) { %>

          <li class="nav-item">
            <a class="nav-link active" href="/eats/new" id = 'new'><i class="fas fa-plus-circle" style='font-size: 150%'></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eats" id = 'eats'>All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mapsearch" id = 'mapsearch'>Map Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eats/random" id='random'>Random</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/toTry">To Try</a>
          </li>
          <% if(user.role === 'admin') { %>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard" id = 'dashboard'>Dashboard</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Log Out</a>
          </li>
        <% } %>
        <% if (!user) { %>
            <li class="nav-item">
            <a class="nav-link active" href="/users/login" id = 'login' >Log In</a>
          </li>
        <% } %>
          
        </ul>
      </div>
    </div>
  </nav>